<!DOCTYPE html>
<html
        xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml"
        lang="pt-br">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" th:href="@{/cssIfood/styles.css}"/>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&display=swap" rel="stylesheet"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <title>JAVAFOOD</title>
</head>

<body style="background-color: white;">

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img th:src="@{/imagesIfood/logo-java.svg}" alt="" height="24" class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link" th:onclick="'location.href=\'' + @{/cliente/home} + '\';'" >HOME</a>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link" th:onclick="'location.href=\'' + @{/cliente/carrinho} + '\';'" >MEU CARRINHO</a>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link" th:onclick="'location.href=\'' + @{/cliente/pedidos} + '?pendente=true' + '\';'" >MEUS PEDIDOS</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        CATEGORIAS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <div th:each="categoria : ${categorias}">
                            <li><a class="dropdown-item"th:href="@{/cliente/searchCategory} + '?categoria=' + ${categoria.id}" th:text="${categoria.nome}"></a></li>
                        </div>
                    </ul>
                </li>
                <li class="nav-item">
                    <a style="cursor: pointer" class="nav-link" th:onclick="'location.href=\'' + @{/logout} + '?pendente=true' + '\';'" >SAIR</a>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/cliente/search}" method="GET">
                <!-- <img style="margin-right: 10px" th:src="@{/imagesIfood/logo-java.svg}" alt="" width="50" />-->
                 <input name="busca" class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search">
                 <button class="btn btn-outline-danger" type="submit">BUSCAR</button>
             </form>
         </div>
     </div>
 </nav>

<div>
    <h1 class="titleResultado">Resultados</h1>
    <fieldset class="filtro">
        <legend>Filtros</legend>
        <select onchange="selectFilterChange()" id="selectFilter">
            <option value="">-</option>
            <option id="entrega" value="entrega">Entrega Grátis</option>
            <option id="maiorTaxa" value="maiorTaxa">Maior Taxa</option>
            <option id="menorTaxa" value="menorTaxa">Menor Taxa</option>
            <option id="maiorTempo" value="maiorTempo">Maior Tempo</option>
            <option id="menorTempo" value="menorTempo">Menor Tempo</option>
        </select>
    </fieldset>
</div>
<br>

<center>
<div style="margin-bottom: 200px" th:if="${restaurantes.size() == 0}">
    <span style="font-size: 30px">Nenhum restaurante encontrado</span>
    <br />
</div>
</center>
<center>
    <div class="container">
        <div class="row">
            <div class="col-sm banner" th:each="restaurante : ${restaurantes}">
                <div class="card" style="margin: 10px !important; width: 18rem;">
                    <a th:href="@{/cliente/restaurante} + '?restautenteId=' + ${restaurante.id}"><img
                            style="height: 286px;" th:src="@{/image/logotipo/} + ${restaurante.logotipo}" alt="..."></a>
                    <div class="card-body">
                        <h5 th:text="${restaurante.nome}" class="card-title"></h5>
                        <p class="card-text">
                            <span th:text="${restaurante.getCategoriasAsText()}"></span>
                            <br>
                            <br>
                            <span th:text="'Tempo médio de entrega: '+ ${restaurante.calcularTempoEntrega(cep)} + 'm'"></span>
                            <br>
                            <span th:text="'Taxa de entrega: R$ ' + ${restaurante.taxaEntrega}"></span>
                            <br>
                        </p>
                        <a th:href="@{/cliente/restaurante} + '?restautenteId=' + ${restaurante.id}"
                           class="btn btn-danger">Saiba
                            Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</center>

<div class="footer">
    <img th:src="@{/imagesIfood/logofooter.svg}" alt=""/>
    <span>© Copyright 2020 - iFood <br/>Todos os direitos reservados</span>
</div>


<script>
    valueFilter = document.getElementById("selectFilter").value;

    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());

    if (params.filter) {
        document.getElementById(params.filter).selected = 'selected';
    }


    function selectFilterChange() {
        valueFilter = document.getElementById("selectFilter").value;

        const urlSearchParams = new URLSearchParams(window.location.search);
        const params = Object.fromEntries(urlSearchParams.entries());

        if (params.filter) {
            if (valueFilter !== '') {
                var queryParams = new URLSearchParams(window.location.search);

                queryParams.set("filter", valueFilter);

                history.pushState(null, null, "?" + queryParams.toString());

                window.location.reload(false);
            }

        } else {
            window.location.href = window.location.href + '&filter=' + valueFilter
        }

    }


    //http://localhost:8080/cliente/searchCategory?categoria=4&myVar=awesomeValue
</script>

</body>

</html>
